/***
 * Creado por: ISC Gutierrez Mendoza Jennifer Stacie
 * mail. magand07@gmail.com
 * tel. 5547631372
 */
/*Colores de carros*/
.c_negro {
    background: black;
}

.c_rojo {
    background: red;
}

.c_blanco {
    background: white;
}

.c_inf_red {
    background: rgb(129, 23, 13);
}

.c_azul_electric{
    background: rgb(26,42,87);
}
.c_almond{
    background: rgb(162,151,113);
}

.c_charcoal{
    background: rgb(87,85,81);
}
.c_platinum{
    background: rgb(193,196,198);
}
.c_ocean_gray{
    background: rgb(163,181,195);
}
/* colores top*/
.c_stone_beige{
    background: rgb(159,159,145);
}
.c_grey{
    background: rgb(165,166,166);
}
.c_oyster{
    background: rgb(221,226,223);
}
/* colores asientos*/
.c_beige{
    background: rgb(228,215,197);
}
/* colores asientos basicos */
.c_mushroom{
    background: rgb(215,205,179);
}